@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


h1 {
  font-family: 'Modak', cursive;
}

h2,h3,h4{
  font-family: 'Nunito', sans-serif;
}

.jumbotron{
  background-image: url("/assets/images/bamboo.jpg");
  background-color: seagreen;
  color: white;
  align-self: center;
  margin-bottom: 0;
  
}

Footer{
  background-color: seagreen;
  color: white;
  align-self: center;
  background-image: url("/assets/images/bamboo.jpg");
  
}

.CardTitle {
  background-color: green;
  opacity: 0.7;
  color: white;

}

body {
  background-image: url("/assets/images/green.jpg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-attachment: fixed;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 0;
}

#orderform {
  margin: green;
}

.CarouselCaption {
  background-color: green;
  color: black;
}